In [1]:
import pandas as pd

In [2]:
#params
file_path = '/Users/lo/Programming/emoji_scripts/m2v_files/m2v_domain-general_False.csv'

In [3]:
data = pd.read_csv(file_path, sep='\t')
display(data.head())
print('number of rows', len(data))
print('number of columns', len(data.columns))

,0,1,2,3,4,5,6,7,8,9,...,291,292,293,294,295,296,297,298,299,300
0,-0.079559,-0.020630,0.035403,0.088506,-0.083986,-0.021342,-0.025159,-0.160512,0.028600,-0.000031,...,-0.001603,-0.056162,0.092977,-0.000966,0.129161,-0.053212,0.055623,0.087979,0.001071,0.0
1,-0.034078,0.009908,-0.038193,0.155823,-0.070404,0.035624,0.012867,-0.077810,0.078990,0.058828,...,0.084277,-0.064463,0.081294,-0.024783,-0.087810,0.035151,-0.065226,-0.042676,0.051483,0.0
2,0.012329,0.091239,0.049735,0.049770,-0.036918,0.008449,-0.021798,-0.127860,0.038557,0.104091,...,0.018886,-0.037641,0.066772,-0.021031,0.000528,-0.014753,-0.035226,-0.067457,-0.054757,0.0
3,-0.042542,0.123657,0.013958,-0.082763,-0.156799,0.006592,0.049927,-0.169434,0.003845,0.154156,...,0.076863,-0.112099,-0.045166,0.117370,-0.127380,0.058838,-0.150269,0.086075,0.004043,0.0
4,0.071191,-0.041636,0.027918,0.215332,-0.045047,0.046045,-0.059546,-0.086377,-0.042896,0.109454,...,0.167023,-0.142775,-0.043262,-0.030713,-0.053662,0.042700,-0.069202,-0.045703,-0.027808,0.0

number of rows 2003064
number of columns 301

In [ ]:
display(data_tmp.head())

In [4]:
data_tmp = data.copy()
# add feat to columns
data_tmp.columns = ['feat_' + str(x) for x in data_tmp.columns]
data_tmp.rename(columns={'feat_300': 'gt'}, inplace=True)
# data_tmp['Unnamed: 0'] = 'inst_' + data_tmp['Unnamed: 0'].astype(str)
# data_tmp.rename(columns={'Unnamed: 0': 'instance_name'}, inplace=True)

In [5]:
display(data_tmp.head())

,feat_0,feat_1,feat_2,feat_3,feat_4,feat_5,feat_6,feat_7,feat_8,feat_9,...,feat_291,feat_292,feat_293,feat_294,feat_295,feat_296,feat_297,feat_298,feat_299,gt
0,-0.079559,-0.020630,0.035403,0.088506,-0.083986,-0.021342,-0.025159,-0.160512,0.028600,-0.000031,...,-0.001603,-0.056162,0.092977,-0.000966,0.129161,-0.053212,0.055623,0.087979,0.001071,0.0
1,-0.034078,0.009908,-0.038193,0.155823,-0.070404,0.035624,0.012867,-0.077810,0.078990,0.058828,...,0.084277,-0.064463,0.081294,-0.024783,-0.087810,0.035151,-0.065226,-0.042676,0.051483,0.0
2,0.012329,0.091239,0.049735,0.049770,-0.036918,0.008449,-0.021798,-0.127860,0.038557,0.104091,...,0.018886,-0.037641,0.066772,-0.021031,0.000528,-0.014753,-0.035226,-0.067457,-0.054757,0.0
3,-0.233429,0.351752,0.246924,-0.207003,-0.319808,-0.252329,0.254219,-0.395852,0.200684,0.305325,...,0.262682,-0.331774,-0.255771,0.010179,-0.049275,0.279961,-0.296994,0.306768,-0.191966,0.0
4,0.071191,-0.041636,0.027918,0.215332,-0.045047,0.046045,-0.059546,-0.086377,-0.042896,0.109454,...,0.167023,-0.142775,-0.043262,-0.030713,-0.053662,0.042700,-0.069202,-0.045703,-0.027808,0.0

In [6]:
cols = data_tmp.columns.tolist()
cols = cols[-1:] + cols[:-1] #gt class
data_tmp = data_tmp[cols]
display(data_tmp.head())

,gt,feat_0,feat_1,feat_2,feat_3,feat_4,feat_5,feat_6,feat_7,feat_8,...,feat_290,feat_291,feat_292,feat_293,feat_294,feat_295,feat_296,feat_297,feat_298,feat_299
0,0.0,-0.079559,-0.020630,0.035403,0.088506,-0.083986,-0.021342,-0.025159,-0.160512,0.028600,...,-0.129211,-0.001603,-0.056162,0.092977,-0.000966,0.129161,-0.053212,0.055623,0.087979,0.001071
1,0.0,-0.034078,0.009908,-0.038193,0.155823,-0.070404,0.035624,0.012867,-0.077810,0.078990,...,0.010244,0.084277,-0.064463,0.081294,-0.024783,-0.087810,0.035151,-0.065226,-0.042676,0.051483
2,0.0,0.012329,0.091239,0.049735,0.049770,-0.036918,0.008449,-0.021798,-0.127860,0.038557,...,-0.069061,0.018886,-0.037641,0.066772,-0.021031,0.000528,-0.014753,-0.035226,-0.067457,-0.054757
3,0.0,-0.233429,0.351752,0.246924,-0.207003,-0.319808,-0.252329,0.254219,-0.395852,0.200684,...,0.097255,0.262682,-0.331774,-0.255771,0.010179,-0.049275,0.279961,-0.296994,0.306768,-0.191966
4,0.0,0.071191,-0.041636,0.027918,0.215332,-0.045047,0.046045,-0.059546,-0.086377,-0.042896,...,-0.059863,0.167023,-0.142775,-0.043262,-0.030713,-0.053662,0.042700,-0.069202,-0.045703,-0.027808

In [7]:
data_tmp.to_csv('m2v_general_true_sep.csv', sep=';', index=False)

In [8]:
data_tmp['assign'] = 'gen.0'
cols = data_tmp.columns.tolist()
cols = cols[-1:] + cols[:-1] #assign class
data_tmp = data_tmp[cols]
display(data_tmp.head())

,assign,gt,feat_0,feat_1,feat_2,feat_3,feat_4,feat_5,feat_6,feat_7,...,feat_290,feat_291,feat_292,feat_293,feat_294,feat_295,feat_296,feat_297,feat_298,feat_299
0,gen.0,0.0,-0.079559,-0.020630,0.035403,0.088506,-0.083986,-0.021342,-0.025159,-0.160512,...,-0.129211,-0.001603,-0.056162,0.092977,-0.000966,0.129161,-0.053212,0.055623,0.087979,0.001071
1,gen.0,0.0,-0.034078,0.009908,-0.038193,0.155823,-0.070404,0.035624,0.012867,-0.077810,...,0.010244,0.084277,-0.064463,0.081294,-0.024783,-0.087810,0.035151,-0.065226,-0.042676,0.051483
2,gen.0,0.0,0.012329,0.091239,0.049735,0.049770,-0.036918,0.008449,-0.021798,-0.127860,...,-0.069061,0.018886,-0.037641,0.066772,-0.021031,0.000528,-0.014753,-0.035226,-0.067457,-0.054757
3,gen.0,0.0,-0.233429,0.351752,0.246924,-0.207003,-0.319808,-0.252329,0.254219,-0.395852,...,0.097255,0.262682,-0.331774,-0.255771,0.010179,-0.049275,0.279961,-0.296994,0.306768,-0.191966
4,gen.0,0.0,0.071191,-0.041636,0.027918,0.215332,-0.045047,0.046045,-0.059546,-0.086377,...,-0.059863,0.167023,-0.142775,-0.043262,-0.030713,-0.053662,0.042700,-0.069202,-0.045703,-0.027808

In [9]:
data_tmp.to_csv('m2v_general_true_sep_hiervis.csv', sep=';', index=False)